

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.calendar:hover{
  cursor: pointer;
}
.calendar-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x:scroll;
  position: relative;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding: 10px; */
  background-color: #f1f1f1;
  font-weight: bolder;
  font-size: 1.6rem;
  text-shadow: 5px 5px 18px rgba(0,0,0,0.7);;
  margin-top: 50px;
}

.calendar-header button {
  background: none;
  border: none;
  font-size: 1.3em;
  cursor: pointer;
}

.calendar-grid {
  display: flex;
  flex-direction: column;
  
  /* margin-left: 1750px; */
  margin-left: 4900px;
  overflow-x: scroll;
}




.calendar-row {
  display: flex;
}

.calendar-cell {
  border: 1px solid #ddd;
  width: 180px;
  /* width: 80px; */
 
  /* position: relative; */
  padding: 10px;
  border: 1px solid #ddd;
  overflow-y: auto; 
  height: 60px; 
  
}

.calendar-cell.header {
  background: #f0f0f0;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 180px;
  /* width: 80px; */
  
  text-shadow: 5px 5px 18px rgba(0,0,0,0.7);;

}

.calendar-time-slot {
  /* width: 100px; */
  width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  font-weight: bold;
  border: 1px solid #ddd;
  text-shadow: 5px 5px 18px rgba(0,0,0,0.7);;
  position:sticky;
  left: 1px;
 
  z-index: 10;
}

.events-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.event {
  background-color: #4caf50;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.today {
  background-color: #e0f7fa;
}

.calendar-cell.over {
  background-color: #9df5f5;
}



.event {
  /* background-color: #8b7d04; */
  padding: 3px 4px;
  width: fit-content;
  margin-top: 2px;
  border-radius: 10px;
  font-size: 0.9em;
  font-weight: 500;
  display: flex;
  justify-content:left;
  align-items: center;
  margin-bottom: 20px;
  color: black;
  box-shadow:  5px 5px 13px rgba(0,0,0,0.5);
}

.event button {
  background: none;
  border: none;
  font-size: 0.8em;
  cursor: pointer;
  margin-left: 5px;
  color: white;
  background-color: black;
  padding: 5px;
  align-items: center;
  border-radius: 10px;
  margin-left: 10px;
}

.event-form {
  margin-top: 20px;
  border: 2px solid grey;
  padding: 30px;
  border-radius: 20px;
  margin-top: 50px;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
}

.event-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-form input {
  padding: 5px;
  margin-bottom: 10px;
  width: 200px;
}

.event-form button {
  padding: 5px 10px;
  margin-bottom: 50px;
  background-color: rgb(63, 160, 246);
  color: white;
  border-radius: 10px;
  border: none;
}  

.event-form button:hover {
  scale: 1.1;
  cursor: pointer;
}  


.heading{
  text-decoration: underline;
  text-shadow: 15px 8px 8px rgba(0,0,0,0.7);
}
.calendar{
  margin-bottom: 100px;
}